<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM pro Bienvenidos</title>
    
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../stylesheets/owl.carousel.css">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/responsive.css">

</head>

<body>
    <%- include("partials/header2") %> 
<main>

<div class="contact-section">
    <h1> Contáctanos</h1>
   
    <ul>
<li> Teléfono: 123456 </li>
<li> Mail: crm@mail.com</li>
<li> Ubicanos: Avenida 9 de Julio, 1600 CABA</li>


    </ul>

</div>
</main>

    <%- include("partials/footer2") %>
</body>
</html>
