
<header>
 
  <div class="boxHeader1">
    <a href="/">

    <img src="images/logo.png" alt="logo" width="90%" class="headerLogo"> </a>
    <i class="fas fa-bars icon mobile-menu"></i> 

  </div>
 <div class="boxHeader2">

  <nav class="navHeaderTop">
    <ul>
      <li> <a href=#> Pickup & Delivery </a> </li>
      <li> <a href=#> Tracking </a></li>
      <li> <a href=#> Formas de pago </a></li>
      <li> <a href=#> Mi cuenta </a></li>
      <li> <a href=#> Gift Card </a></li>
    </ul>
  </nav>

  <div class="searchProducts">
    <input type="text" id="search" name="product">
    <label for="search"> Buscar </label><i
      class=" iconSearch fas fa-search"></i>
  </div>
  <div class="boxAcces">
    <i class="fas fa-cart-arrow-down icon"></i>
     <i class="far fa-user icon"></i>
  </div>
</div>
</header>


<footer class="main-footer">
  <div class="footer-top">
    <nav class="footer-menu1">
      <ul>
        <li> <a href=#>Categorías </a></li>
        <li> <a href=#>Nosotros </a></li>
        <li>  <a href=#> Contacto</a></li>

        <li> Seguínos en <a href=#> <i class=" footer-icon fab fa-instagram"></i></a> <a href=#><i
              class=" footer-icon fab fa-facebook-f"></i>

          </a></li>
       
      </ul>
     
    </nav>


  </div>
  <div class="footer-menu2">
    ©copyright
  </div>

  </footer>