<html>

<head>
  <meta charset="UTF-8">
  <title>Bazar e commerce </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <script src="/js/open-menu.js"></script>
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <%- include("partials/header") %>   
  <!--FLEX DIRECTION COLUMN-->
  <section class="principal">
    <!--FLEX DIRECTION ROW-->
    <div class="principalfotos">
      <!--FLEX DIRECTION COLUMN-->
      <div class="principal1 imgSlider"> </div>
      <div class="principal2 imgSlider"> </div>
      <div class="principal3 imgSlider"> </div>

    </div>
  </section>


  <div class="banner1">
    <p> Pago hasta en 10 cuotas con 10% de interés </p>
  </div>

  <!--FLEX DIRECTION COLUMN-->
  <section class="mas-vendidos">
    <div class="titular-masvendidos">
      <!--FLEX DIRECTION ROW-->
      <h2>Los mas vendidos</h2>
      <a href="">Ver todas</a>
    </div>

    <div class="productos-masvendidos">
      <!--FLEX DIRECTION ROW-->


      <a class="detalle-masvendidos" href="/productos/detail">

        <div class="producto-imagen" id="producto1"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
    
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto2"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto3"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

    </div>
  </section>
  <section class="mas-vendidos">
    <div class="titular-masvendidos">
      <!--FLEX DIRECTION ROW-->
      <h2>Ofertas</h2>
      <a href="">Ver todas</a>
    </div>

    <div class="productos-masvendidos">
      <!--FLEX DIRECTION ROW-->


      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto1"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto2"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto3"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>
      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto4"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

    </div>


  </section>

  <div class="banner">
  </div>

  <section class="mas-vendidos">
    <div class="titular-masvendidos">
      <!--FLEX DIRECTION ROW-->
      <h2>Novedades</h2>
      <a href="">Ver todas</a>
    </div>

    <div class="productos-masvendidos" >
      <!--FLEX DIRECTION ROW-->


      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto1"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto2"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto3"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>
      <a class="detalle-masvendidos" href="/productos/detail">
        <div class="producto-imagen" id="producto4"> </div>
        <h3>5000</h3>
        <h4>40%</h4>
        <p>Lorem ipsum dolor sit, amet.</p>
      </a>

    </div>


    <section class="novedades">
      <div class="titular-masvendidos">
        <!--FLEX DIRECTION ROW-->
        <h2>Videos</h2>
        <a href="">Ver todas</a>
      </div>

      <div class="productos-masvendidos">
    </section>

    <div class="videos">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0"
        allow="accelerometer;   picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0"
        allow="accelerometer;  encrypted-media; picture-in-picture" allowfullscreen></iframe>
    </div>
    <!--VIDEOS-->
    <!--<iframe></iframe>-->
    <!--<iframe></iframe>-->

    <br>
    <br>
    <br>

    <%- include("partials/footer") %>

</body>

</html>