<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
 
<meta charset="UTF-8">
<title>Bazar e commerce </title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
<div class="boxHeader1">
<img src=# alt="logo" width="100%" class="headerLogo">   
</div>

<nav class="navHeaderTop">
<ul>
<li> <a href=#> Inicio </a> </li>
<li>  <a href=#>  Pickup & Delivery </a></li> </ul> 
</nav>
<div class="boxHeader2">
  <div class="boxAcces">

  <i class="fas fa-cart-plus"></i>

<i class="far fa-user"></i>
 </div>
 <div class="searchProducts">
 <input type="text"> <i class="fas fa-search"></i>
  </div>
</div>
<nav class="navHeaderBottom">
<ul>
  <li> <a href=#> Cristalería

  </a>

  </li>
  <li> <a href=#>
    Herramientas de cocina
  </a>

  </li>
  <li> <a href=#>
    Cubiertos
    
  </a>

  </li>
  <li> <a href=#>
    Porcelana
  </a>

  </li>


  <li> <a href=#>
    Porcelana 2
    
  </a>

  </li>





</ul>

</nav>


</header>

</body>




