<html>
 <head>
  <meta charset="UTF-8">
  <title>Bazar e commerce </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
 </head>
 <body>
  <header>
    <div class="top-header">
      <div class="boxHeader1">

        <img src="images/logo.png" alt="logo" width="40%" class="headerLogo">
        <i class="fas fa-bars icon mobile-menu"></i>

      </div>

      <nav class="navHeaderTop">
        <ul>
          <li> <a href=#> Inicio </a> </li>
          <li> <a href=#> Pickup & Delivery </a></li>
        </ul>
      </nav>

      <div class="searchProducts">
        <input type="text" id="search" name="product">
        <label for="search"> Buscar </label><i
          class=" iconSearch fas fa-search"></i>
      </div>
      <div class="boxAcces">
        <i class="fas fa-cart-plus icon"></i>
        <i class="far fa-user icon"></i>
      </div>
    </div>
    <nav class="navHeaderBottom">
      <ul>
        <li> <a href=#> Cristalería
          </a>
        </li>
        <li> <a href=#>
            Herramientas de cocina
          </a>
        </li>
        <li> <a href=#>
            Cubiertos
          </a>
        </li>
        <li> <a href=#>
            Porcelana
          </a>
        </li>
        <li> <a href=#>
            Porcelana 2
          </a>
        </li>
      </ul>
    </nav>
  </header>


  <br>
  <br>
  <br>


  <footer class="main-footer">
    <div class="footer-top">
      <nav class="footer-menu1">
        <ul>
          <li> <a href=#> Formas de pago</a></li>
          <li> <a href=#> Formas de entrega </a></li>
          <li> <a href=#> Retiro en sucursal</a></li>
          <li> <a href=#> Contacto</a></li>
        </ul>
      </nav>
      <p class="giftcard"> <strong> Giftcard</strong> </p>

    </div>
    <nav class="footer-menu2">

      <ul>
        <li> <a href=#>Categorías </a></li>
        <li> <a href=#>Nosotros </a></li>

        <li> Seguínos en <a href=#> <i class=" footer-icon fab fa-instagram"></i></a> <a href=#><i
              class=" footer-icon fab fa-facebook-f"></i>

          </a></li>
        <li class="chat"> <i class="footer-icon chat-icon far fa-comments"></i> Chateá
        </li>
      </ul>
    </footer>
 </body>
</html>