<head>
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="stylesheet" href="../stylesheets/footer-menu.css">
    
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<%- include("partials/header") %>   

<section class="userAccount-section">

 

        <%- include("partials/adminMenu") %>


<div class="dashboard">

    <div>
        <h1 class="productEdit-title dashboardTitle">ABM DE PRODUCTO</h1>
        <form action="/productos/create" enctype="multipart/form-data" method="POST">
            <div class="formulario">
                    <div class="producto">
                        <p>Codigo</p> 
                        <input type="text" name="code" placeholder="Colocar el codigo del producto">
                        <p>Producto</p> 
                        <input type="text" name="name" placeholder="Colocar el nombre del producto">
                        <p>Cantidad de stock</p> 
                        <input type="number" name="stock" placeholder="Ingrese la cantidad de stock"> 

                        <p>Descripcion del producto</p>
                        <textarea name="description" cols="50" rows="10"></textarea>
                        <p>Imagenes</p>
                        <input type="file" name="image" multiple>
                    </div>
                    <div class="contable">
                        <p>Costo</p>
                        <input type="number" name="cost" placeholder="Ingrese el costo del producto">
                        <p>Markup</p>
                        <input type="number" name="markup" placeholder="Ingrese la descripcion del producto">
                        <p>Descuento</p>
                        <input type="number" name="discount" placeholder="Ingrese el descuento">
                       
                        <p>Categorías</p>
               
                        <label for="c1"> <input type="radio" id="c1" name="category" value=1> 
                          Categoría 1</label> <br>
                             <div class="sc_container" id="container_sub_c1">
                                <input type="radio" id="s1_c1" name="subcategory" value=1> 
                                <label for="s1_c1"> Subcategoría 1</label> <br>
                                <input type="radio" id="s2_c1" name="subcategory" value=2> 
                                <label for="s2_c1"> Subcategoría 2</label> <br>
                                <input type="radio" id="s3_c1" name="subcategory" value=3> 
                                <label for="s3_c1"> Subcategoría 3</label> <br>

                             </div>

                             <label for="c2"> <input type="radio" id="c2" name="category" value=2> 
                             Categoría 2</label> <br>

                            <div class="sc_container" id="container_sub_c2">
                                <input type="radio" id="s1_c2" name="subcategory" value=4> 
                                <label for="s1_c2"> Subcategoría 4</label> <br>
                                <input type="radio" id="s2_c2" name="subcategory" value=5> 
                                <label for="s2_c2"> Subcategoría 5</label> <br>
                                <input type="radio" id="s3_c2" name="subcategory" value=6> 
                                <label for="s3_c2"> Subcategoría 6</label> <br>

                             </div>

                            
                             <label for="c3"> <input type="radio" id="c3" name="category" value=3> 
                             Categoría 3</label> <br>

                            <div class="sc_container" id="container_sub_c3">
                                <input type="radio" id="s1_c3" name="subcategory" value=7> 
                                <label for="s1_c3"> Subcategoría 7</label> <br>
                                <input type="radio" id="s2_c3" name="subcategory" value=8> 
                                <label for="s2_c3"> Subcategoría 8</label> <br>
                                <input type="radio" id="s3_c3" name="subcategory" value=9> 
                                <label for="s3_c3"> Subcategoría 9</label> <br>

                             </div>


                         
                              
                               

                             <label for="c4">  <input type="radio" id="c4" name="category" value=4> 
                            Categoría 4</label> <br>

                            <div class="sc_container" id="container_sub_c4">
                                <input type="radio" id="s1_c4" name="subcategory" value=10> 
                                 <label for="s1_c4"> Subcategoría 10</label> <br>
                                 <input type="radio" id="s2_c4" name="subcategory" value=11> 
                                 <label for="s2_c4"> Subcategoría 11</label> <br>
                                 <input type="radio" id="s3_c4" name="subcategory" value=12> 
                                 <label for="s3_c4"> Subcategoría 12</label> <br>
 
                              </div>

                          
                              <label for="c5">  <input type="radio" id="c5" name="category" value=5 > 
                            Categoría 5</label> <br>

                            <div class="sc_container" id="container_sub_c5">
                                <input type="radio" id="s1_c5" name="subcategory" value=13> 
                                <label for="s1_c3"> Subcategoría 13</label> <br>
                                <input type="radio" id="s2_c5" name="subcategory" value=14> 
                                <label for="s2_c3"> Subcategoría 14</label> <br>
                                <input type="radio" id="s3_c5" name="subcategory" value=15> 
                                <label for="s3_c3"> Subcategoría 15</label> <br>

                             </div>

                             <label for="c6">  <input type="radio" id="c6" name="category" value=6 > 
                           Categoría 6</label> <br>

                            <div class="sc_container" id="container_sub_c6">
                                <input type="radio" id="s1_c6" name="subcategory" value=16> 
                                <label for="s1_c6"> Subcategoría 16</label> <br>
                                <input type="radio" id="s2_c6" name="subcategory" value=17> 
                                <label for="s2_c6"> Subcategoría 17</label> <br>
                                <input type="radio" id="s3_c6" name="subcategory" value=18> 
                                <label for="s3_c6"> Subcategoría 18</label> <br>

                             </div>

                             <label for="c7"> <input type="radio" id="c7" name="category" value=7 > 
                             Categoría 7</label> <br>

                            <div class="sc_container" id="container_sub_c7">
                                <input type="radio" id="s1_c7" name="subcategory" value=19> 
                                <label for="s1_c7"> Subcategoría 13</label> <br>
                                <input type="radio" id="s2_c7" name="subcategory" value=20> 
                                <label for="s2_c7"> Subcategoría 14</label> <br>
                                <input type="radio" id="s3_c7" name="subcategory" value=21> 
                                <label for="s3_c7"> Subcategoría 15</label> <br>

                             </div>

                             <label for="c8"> <input type="radio" id="c8" name="category" value=8> 
                             Categoría 8</label> <br>
                            <div class="sc_container"  id="container_sub_c8">
                                <input type="radio" id="s1_c8" name="subcategory" value=22> 
                                <label for="s1_c8"> Subcategoría 13</label> <br>
                                <input type="radio" id="s2_c8" name="subcategory" value=23> 
                                <label for="s2_c8"> Subcategoría 14</label> <br>
                                <input type="radio" id="s3_c8" name="subcategory" value=24> 
                                <label for="s3_c8"> Subcategoría 15</label> <br>

                             </div>



                          </select>
                    </div>    
            </div>
            <div class="botones">
                <button type="submit">Agregar</button>
            </div>
        </form>     
    </div>
    <% if (typeof alert != "undefined") { %>
        <script>Swal.fire({
            position: 'top-middle',
            icon: 'success',
            title: 'Producto cargado con exito!',
            showConfirmButton: false,
            timer: 1500
          })</script>
    <% } %>


</div>




</section>

<%- include("partials/footer") %>

</body>