<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Bazar e commerce </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel='stylesheet' href="/stylesheets/productCart.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/footer-menu.css">
</head>

<body>
  
  
<header>
 
  <div class="boxHeader1">
    <a href="/">

    <img src="images/logo.png" alt="logo" width="90%" class="headerLogo"> </a>
    <i class="fas fa-bars icon mobile-menu"></i> 

  </div>
 <div class="boxHeader2">

  <nav class="navHeaderTop">
    <ul>
      <li> <a href=#> Pickup & Delivery </a> </li>
      <li> <a href=#> Tracking </a></li>
      <li> <a href=#> Formas de pago </a></li>
      <li> <a href=#> Mi cuenta </a></li>
      <li> <a href=#> Gift Card </a></li>
    </ul>
  </nav>

  <div class="searchProducts">
    <input type="text" id="search" name="product">
    <label for="search"> Buscar </label><i
      class=" iconSearch fas fa-search"></i>
  </div>
  <div class="boxAcces">
    <i class="fas fa-cart-arrow-down icon"></i>
     <i class="far fa-user icon"></i>
  </div>
</div>
</header>



  <main>
    <div class="titulos">
    <h1 div class="nombre">
      MI CARRITO
    </h1>
    <h2 div class="unitario">
      Unitario
    </h2>
    <h2 div class="total">
      Total
    </h2>

  </div>

    <hr class="titulo1">

    <div class="containerCart">
      <div class="box1">
        <i class="fas fa-times"></i>
        <image src="/images/dish1.jpg"></image>
        <div class="nomProducto">
          <p>Nombre de producto</p>
        </div>
      </div>

      <div class="numberCart">
        <input type="number">
        <label for="number">Cantidad</label>
      </div>
      <div class="unidad">
        <p>$500</p>
      </div>
      <div class="precioCart">
        <p>$3500</p>
      </div>
    </div>
    <!--  fin fila cart  -->

    <hr>

    <div class="subtotal">
      <div class="subt">
        <p>Subtotal</p>
      </div>
      <div class="subprecio">
        <p>$3500</p>
      </div>
    </div>

    <!--  fin fila subtotal  -->

   
    <!--<div class="descuento">
      <p>Cupón de descuento:
      <p>
      <div class="desc">
        <input type="number">
        <label for=""> Validar </label>
      </div>
    </div>

      fin fila descuento  -->

    <hr>

    <div class="envio">

      <div class="costoenvio1">
        <p>Costo de Envío<p>
      </div>     

    </div>

    <!--  fin fila Envio  -->

    <hr>

    <div class="container2">
      <div class="box6">
        <h2>TOTAL A PAGAR</h4>
      </div>
      <div class="box7">
        <p>$7000</p>
      </div>
    </div>

    <!--  fin fila Total a Pagar  -->


    <div class="container3">
      <div class="box8">
        <button class="button1">
          <a href=#>Pagar</a></button>
      </div>
      <div class="box9">
        <button class= "button2">
          <a href=#>Seguí comprando</a></button>
      </div>
    </div>

    <!--  fin fila Abonar or seguir comprando -->

  </main>
  <footer class="main-footer">
    <div class="footer-top">
      <nav class="footer-menu1">
        <ul>
          <li> <a href=#>Categorías </a></li>
          <li> <a href=#>Nosotros </a></li>
          <li>  <a href=#> Contacto</a></li>
  
          <li> Seguínos en <a href=#> <i class=" footer-icon fab fa-instagram"></i></a> <a href=#><i
                class=" footer-icon fab fa-facebook-f"></i>
  
            </a></li>
         
        </ul>
       
      </nav>
  
  
    </div>
    <div class="footer-menu2">
      ©copyright
    </div>
  
    </footer>

</body>

</html>