<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <link rel="stylesheet" href="/stylesheets/footer-menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <%- include("partials/header") %>   
    <div>
        <div><h1>ABM DE PRODUCTO</h1></div>
        <div class="formulario">
            
                <div class="producto">
                    <p>Codigo</p> 
                    <input type="text" name="" id="">
                    <p>Producto</p> 
                    <input type="text" name="" id="">
                    <p>Cantidad de stock</p> 
                    <input type="number" name="" id="">
                    <p>Color</p>
                    <input type="text" name="" id="">
                    <p>Descripcion del producto</p>
                    <textarea name="" id="" cols="50" rows="10"></textarea>
                    <p>Imagenes</p>
                    <input type="file" name="" id="">
                    <p>habilitado</p>
                    <input type="checkbox" name="" id="">
                </div>
                <div class="contable">
                    <p>Costo</p>
                    <input type="number" name="" id="">
                    <p>Markup</p>
                    <input type="number" name="" id="">
                    <p>Descuento</p>
                    <input type="number" name="" id="">
                </div>
        </div>
        <div class="botones">
            <button type="submit">Agregar</button>
            <button disabled="disabled">Eliminar</button>
        </div> 
    </div>
    <%- include("partials/footer") %> 
</body>
</html>