<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Detalle del producto</title>

    <!--ESTILOS-->
    <link rel="stylesheet" href="/stylesheets/productDetail.css">
    <link rel="stylesheet" href="/stylesheets/footer-menu.css">

</head>
<body>
    
    <header>
 
        <div class="boxHeader1">
  
          <img src="images/logo.png" alt="logo" width="40%" class="headerLogo">
          <i class="fas fa-bars icon mobile-menu"></i>
  
        </div>
       <div class="boxHeader2">
  
        <nav class="navHeaderTop">
          <ul>
            <li> <a href=#> Pickup & Delivery </a> </li>
            <li> <a href=#> Tracking </a></li>
            <li> <a href=#> Formas de pago </a></li>
            <li> <a href=#> Mi cuenta </a></li>
            <li> <a href=#> Gift Card </a></li>
          </ul>
        </nav>
  
        <div class="searchProducts">
          <select id="search" name="product">
            <option value="categoria1">  </option>
            <option value="categoria2"> opcion2</option>
            <option value="categoria3"> opcion3</option>
            </select>
          <label for="search"> Buscar </label><i
            class=" iconSearch fas fa-search"></i>
        </div>
        <div class="boxAcces">
          <i class="fas fa-cart-arrow-down icon"></i>
           <i class="far fa-user icon"></i>
        </div>
      </div>
      </header>

    <div class="container">
       



        <aside>
            <div id="content-wrapper">
                <div class="column">
                    <img id=featured src="images/productos/p1/mug-roja.jpg">
                    
                    <div id="slide-wrapper" >
                        <img id="slideLeft" class="arrow" src="images/arrow-left.png">
        
                        <div id="slider">
                            <img class="thumbnail active" src="images/productos/p1/mug-amarilla.jpg">
                            <img class="thumbnail" src="images/productos/p1/mug-azul.jpg">
                            <img class="thumbnail" src="images/productos/p1/mug-blanca.jpg">
                            <img class="thumbnail" src="images/productos/p1/mug-negra.jpg">
                            <img class="thumbnail" src="images/productos/p1/mug-roja.jpg">
                            <img class="thumbnail" src="images/productos/p1/mug-verde.jpg">
                        </div>
        
                        <img id="slideRight" class="arrow" src="images/arrow-right.png">
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                let thumbnails = document.getElementsByClassName('thumbnail')
        
                let activeImages = document.getElementsByClassName('active')
        
                for (var i=0; i < thumbnails.length; i++){
        
                    thumbnails[i].addEventListener('mouseover', function(){
                        console.log(activeImages)
                        
                        if (activeImages.length > 0){
                            activeImages[0].classList.remove('active')
                        }
                        
        
                        this.classList.add('active')
                        document.getElementById('featured').src = this.src
                    })
                }
        
        
                let buttonRight = document.getElementById('slideRight');
                let buttonLeft = document.getElementById('slideLeft');
        
                buttonLeft.addEventListener('click', function(){
                    document.getElementById('slider').scrollLeft -= 180
                })
        
                buttonRight.addEventListener('click', function(){
                    document.getElementById('slider').scrollLeft += 180
                })
        
        
            </script>
        </aside>
        <main>
            <form action="" id="formulario">
                <h1>TAZA MUG</h1>
                <p class="label"><label for="compra"></label>Cantidad</p>
                <input type="number" name="cantidad" id="compra">
                <p class="label"><label for="color"></label>Color</p>
                <select name="Color" id="compra">
                    <option value="Rojo">Rojo</option>
                    <option value="Azul">Azul</option>
                    <option value="Blanca">Blanca</option>
                    <option value="Negra">Negra</option>
                    <option value="Amarilla">Amarilla</option>
                    <option value="Verde">Verde</option>
                </select><br>
                <button type="submit">AGREGAR AL CARRITO</button>
                <button type="submit">COMPRAR AHORA</button>
            </form>
            <div id="descripcion"><h3>Descripción</h3><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatem ut dolorem illum. Quae, doloremque, quisquam dolorum pariatur est quas perferendis tempora rerum quo ea dolore voluptatum optio aspernatur vero.</p>
            </div>
            
        </main>
</div>


<footer class="main-footer">
    <div class="footer-top">
      <nav class="footer-menu1">
        <ul>
          <li> <a href=#>Categorías </a></li>
          <li> <a href=#>Nosotros </a></li>
  
          <li> Seguínos en <a href=#> <i class=" footer-icon fab fa-instagram"></i></a> <a href=#><i
                class=" footer-icon fab fa-facebook-f"></i>
  
            </a></li>
          <li class="chat"> <i class="footer-icon chat-icon far fa-comments"></i> Chateá
          </li>
        </ul>
       
      </nav>
 

    </div>
    <div class="footer-menu2">
      ©copyright
    </div>

    </footer>
</body>
</html>