<html>
    <head>
        <link rel="stylesheet" href="stylesheets/loginRegistro.css">
        <link rel="stylesheet" href="/stylesheets/footer-menu.css">
        <link rel="stylesheet" href="stylesheets/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <header>
 
        <div class="boxHeader1">
  
          <img src="images/logo.png" alt="logo" width="40%" class="headerLogo">
          <i class="fas fa-bars icon mobile-menu"></i>
  
        </div>
       <div class="boxHeader2">
  
        <nav class="navHeaderTop">
          <ul>
            <li> <a href=#> Pickup & Delivery </a> </li>
            <li> <a href=#> Tracking </a></li>
            <li> <a href=#> Formas de pago </a></li>
            <li> <a href=#> Mi cuenta </a></li>
            <li> <a href=#> Gift Card </a></li>
          </ul>
        </nav>
  
        <div class="searchProducts">
          <select id="search" name="product">
            <option value="categoria1">  </option>
            <option value="categoria2"> opcion2</option>
            <option value="categoria3"> opcion3</option>
            </select>
          <label for="search"> Buscar </label><i
            class=" iconSearch fas fa-search"></i>
        </div>
        <div class="boxAcces">
          <i class="fas fa-cart-arrow-down icon"></i>
           <i class="far fa-user icon"></i>
        </div>
      </div>
      </header>

        <div class="login1">

         


            <main>
                <div class="ventanaFormulario">
                    <form action="" method="get">
                        <div class="titulo">
                            <label for="name">
                                <em>
                                   <mark>Registrate:</mark>
                                </em>
                            </label>
                        </div>
                        <div class="datos">
                            <input type="text" id="name" name="nombre" placeholder="Nombre"></div>
                        <div class="datos">
                            <input type="text" name="apellido" placeholder="Apellido">
                        </div>
                        <div class="datos">
                            <input type="email" name="email" placeholder="Dirc.Correo Electronico">
                        </div>
                        <div class="datos">
                            <input type="password" name="password" placeholder="Crea una contraseña">
                        </div>    
                        <div class="datos">
                            <select name="cliente">
                                 <option>-Tipo de Cliente-</option>
                                 <option value="mayorista">Mayorista</option>
                                 <option value="C.f">Consumidor Final</option>
                            </select>
                        </div>
                        <button class="primerButton" type="submit">
                            Crear Cuenta    
                        </button>
                        <p>
                         <em>¿Tenes cuenta?</em>
                        </p>
                        <a href="/login">
                         <div class="link">
                            <p>Iniciar Sesión</p>
                         </div>
                        </a>
                    </form>
                </div>
            </main>
        

  <footer class="main-footer">
    <div class="footer-top">
      <nav class="footer-menu1">
        <ul>
          <li> <a href=#>Categorías </a></li>
          <li> <a href=#>Nosotros </a></li>
  
          <li> Seguínos en <a href=#> <i class=" footer-icon fab fa-instagram"></i></a> <a href=#><i
                class=" footer-icon fab fa-facebook-f"></i>
  
            </a></li>
          <li class="chat"> <i class="footer-icon chat-icon far fa-comments"></i> Chateá
          </li>
        </ul>
       
      </nav>
 

    </div>
    <div class="footer-menu2">
      ©copyright
    </div>

    </footer>
            
        </div>
    </body>
</html>