<%- include("partials/head") %>  
<head>
    <meta charset="UTF-8">
    <title>Bazar e commerce </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"> 

</head> 
<body>
<%- include("partials/header2") %>   
<section class="userAccount-section">
    <div class="verticalMenu">
<h3 class="userAccountTitle">Mi cuenta</h3>
    <ul class="UA-options">
   <li class="UA-option"><a href="/users/view">Ver Mi Perfil</a></li>
   <li class="UA-option"><a href="/users/edit">Editar Perfil</a></li>
   </ul>
   </div>

</div>


    <div class="dashboard">

<h2 class="UA-title"> Nuestros Clientes </h2>    
</div>


</section>

<%- include("partials/footer2") %>

</body>