<div class="verticalMenu">
    <h3 class="productsEdit-title">Productos</h3>
        <ul class="productsOptions">
       <li class="productsEdit-option" href="/productos/create"> <a href="/productos/create"> Agregar productos </a> </li>
       <li class="productsEdit-option" href="/productos/edit"> <a href="/productos"> Ver lista de productos </a>  </li>
     
    
    </ul>
    </div>