<footer class="main-footer">
    <div class="footer-top">
      <nav class="footer-menu1">
        <ul class="menu-ul-left">
          <div>
            <li> <a href="/categorias">Categorías </a></li>
          </div>
          <div>
            <li> <a href="/nosotros">Nosotros </a></li>
          </div>
          <div>
            <li>  <a href="/contacto"> Contacto</a></li>
          </div>
        </ul>
        <ul class="menu-ul-right">
          <div>
            <li> Seguínos en 
              <a href=#>
                <i class=" footer-icon fab fa-instagram"></i>
              </a> 
              <a href=#>
                <i class=" footer-icon fab fa-facebook-f"></i>
              </a>
            </li>
          </div>
        </ul>
      </nav>
    </div>
    <div class="footer-menu2">
      <p>©Copyright</p>
    </div>
</footer>