<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>CRM<span>pro</span></h2>
                    <p>Bazar Mayorista y minorista con una vasta experiencia en el rubro. Trabajamos con las mejores marcas, linas completas y equipamiento especializado para restaurant, hoteles y bares.</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="#">Mi cuenta</a></li>
                        <li><a href="#">Registarse</a></li>
                        <li><a href="#">Carrito</a></li>
                    </ul>                        
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categorias</h2>
                    <ul>
                        <li><a href="#">Bazar</a></li>
                        <li><a href="#">Maquinaria</a></li>
                        <li><a href="#">Blanco</a></li>
                        <li><a href="#">Cristaleria</a></li>
                        <li><a href="#">Indumentaria</a></li>
                    </ul>                        
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Ingresa tu mail y enterate de todas las novedades y ofertas</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Ingrese su email">
                            <input type="submit" value="Suscribirse">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; Unos tipitos desarollos. <a href="http://www.freshdesignweb.com" target="_blank">unostipitos.com</a></p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->