<div class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>CRM<span>pro</span></h2>
                    <p>Bazar Mayorista y minorista con una vasta experiencia en el rubro. Trabajamos con las mejores marcas, linas completas y equipamiento especializado para restaurant, hoteles y bares.</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="/cart"><i class="fas fa-cart-arrow-down"></i> Carrito</a></li>
                       
                        <% if (usuario) { %>
                          
                     <li><a href="/users/logout"><i class="fa fa-user"></i> Salir</a></li>                           
               
                        <li><a href="/users/account"><i class="fa fa-user"></i> Mi Cuenta</a></li>                     
                       
                     
                        <% } else { %>
                        <li><a href="/users/login"><i class="fa fa-user"></i> Login</a></li>            
                        <li><a href="/users/register"><i class="fas fa-clipboard-list"></i> Registrarse</a></li>
                        <% } %>
                        
                    </ul>
                    

                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categorias</h2>
                    <ul>
                        <li><a href="/category/1">Procelanas</a></li>
                        <li><a href="/category/2">Cubiertos</a></li>
                        <li><a href="/category/3">Cristaleria</a></li>
                        <li><a href="/category/4">Cocina</a></li>
                        <li><a href="/category/5">Servicio</a></li>
                        <li><a href="/category/6">Ofertas</a></li>
                        <li><a href="/category/7">Novedades</a></li>
                    </ul>                        
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Contacto</h2>
                    <a href="/contacto">Contacto</p>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer top area -->

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; Unos tipitos desarollos. <a href="http://www.google.com" target="_blank">unostipitos.com</a></p>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End footer bottom area -->