<header>
 
    <div class="boxHeader1">
      <a href="/">
  
      <img src="/images/logo.png" alt="logo" width="90%" class="headerLogo"> </a>
      <i class="fas fa-bars icon mobile-menu"></i> 
  
    </div>
   <div class="boxHeader2">
  
    <nav class="navHeaderTop">
      <ul>
        <!--<li> <a href=#> Pickup & Delivery </a> </li>-->
        <li> <a href="/seguimiento"> Tracking </a></li>
        <li> <a href="/pago"> Formas de pago </a></li>
        <li> <a href="/users/login"> Mi cuenta </a></li>
        <li> <a href="/giftCard"> Gift Card </a></li>
      </ul>
    </nav>
  
    <div class="searchProducts">
      <input type="text" id="search" name="product">
      <label for="search"> Buscar </label><i
        class=" iconSearch fas fa-search"></i>
    </div>
    <div class="boxAcces">
      <a href="/carrito">
      <i class="fas fa-cart-arrow-down icon"></i> </a>
       <a href="/users/login"><i class="far fa-user icon"></i></a>
    </div>
  </div>
  </header>