<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li><a href="/cart"><i class="fas fa-cart-arrow-down"></i> Carrito</a></li>
                       
                        <% if (usuario) { %>
                          
                        <li>
                            <form action="/users/logout" method="POST">
                                <i class="fa fa-user">
                                    <button type="submit" class="logout">Salir</button>
                                </i>
                            </form>
                        </li>                           
               
                        <li><a href="/users/account"><i class="fa fa-user"></i> Mi Cuenta</a></li>
                       
                        <li><img src="/images/avatares/<%= usuario.avatar%>" alt="Imagen del usuario" class="image-avatar"></li>
                     
                        <% } else { %>
                        <li><a href="/users/login"><i class="fa fa-user"></i> Login</a></li>            
                        <li><a href="/users/register"><i class="fas fa-clipboard-list"></i> Registrarse</a></li>
                        <% } %>
                       
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="/"><img src="/images/logo.png"></a></h1>
                </div>
            </div>
            
            <div class="menu-bottom">
                <div class="search-container">
                    <form class="form-search" action="/productos/buscar" method="GET">
                        <input type="text" class="input" name="product" placeholder="¿Qué necesitas hoy?">
                        <input type="submit" value="buscar" style="width:100px;">
                      </form>
 
                </div>
              </div>
        </div>
    </div>
</div> <!-- End site branding area -->
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/productos">Listado de productos</a></li>
                    <li><a href="/category/1">Procelanas</a></li> 
                    <li><a href="/category/2">Cubiertos</a></li>          
                    <li><a href="/category/3">Cristalería</a></li>
                    <li><a href="/category/4">Cocina</a></li>
                    <li><a href="/category/5">Servicio</a></li>
                    <li><a href="/category/6">Ofertas</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </div>  
        </div>
    </div>
</div> <!-- End mainmenu area -->