<header>
  <nav class="navbar">
    <div class="menu-top">
      <div class="menu-left container-logo">
        <a href="/">
          <img src="/images/logo.png" alt="">
        </a>
      </div>
      <div class="burger-button">
        <i class="fas fa-bars" id="burger-button"></i>
      </div>
      <div class="menu-right" id="menu">
        <div class="menu-right-l">
          <ul class="menu-list">
            <div class="menu-item">
              <a href="/productos">
                <li>Productos</li>
              </a>
            </div>
            <div class="menu-item">
              <a href="">
                <li>Sobre nosotros</li>
              </a>
            </div>
            <% if (usuario && usuario.admin == 1) { %>
              <div class="menu-item">
                <a href="/users/account">
                  <li>Admin</li>
                </a>
              </div>
            <% } %>
          </ul>
        </div>
        <div class="menu-right-r">
          <ul class="menu-list">

            <% if (usuario) { %>

            <div class="menu-item">
              <a href="">
                <li>
                  <div class="container-avatar">
                    <img src="/images/avatares/<%= usuario.avatar%>" alt="Imagen del usuario">
                  </div>
                </li>
              </a>
            </div>
            <div class="menu-item">
              <li>
                <form class="form-logout" action="/users/logout" method="post">
                  <button type="submit">Cerrar sesión</button>
                </form>
              </li>
            </div>
            <div class="menu-item">
              <a href="/cart">
                <i class="fas fa-cart-arrow-down"></i>
              </a>
            </div>
            
            <% } else { %>

            <div class="menu-item">
              <a href="/users/login">
                <li>Iniciar sesión</li>
              </a>
            </div>
            <div class="menu-item">
              <a href="/users/register">
                <li>Registrarse</li>
              </a>
            </div>

            <% } %>

          </ul>
        </div>
      </div>
    </div>
    <div class="menu-bottom">
      <div class="search-container">
        <form class="form-search" action="" method="get">
          <input type="text" class="input" placeholder="¿Qué necesitas hoy?">
        </form>
      </div>
    </div>
  </nav>
</header>