
*{box-sizing:border-box;}

body{
  padding: 0;
  margin:0;
}
header{
  width:100%;
  font-family: 'Roboto', sans-serif;
  background-color:#7E675E;
  display:flex;
  padding:2% 2% 1% 2%;
}
.chat{ 
  position:fixed;
  font-size:1.3em;
  font-weight:600;
  display:flex;
  flex-direction:column-reverse;
  top:30vh;
  right:0;
  margin:0;
  padding:0;
  width:70px;
  border-radius:10px;
  background-color:orange; 
}
.chat-icon{ 
  font-size:2em!important;
}
/*.top-header{ 
  position:relative;
  display:flex;
  flex-direction:column;

  justify-content: flex-start;
  width:100%;
  padding:2%;
  color:white;

}*/
.boxHeader1{
  position:relative;
  width: 10%;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}
.boxHeader2{
  width:90%;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
}
.navHeaderTop{
  position:relative;
  width:100%;
  display:flex;
  align-items:flex-start; 
  padding:0;
}
.navHeaderTop ul {
  display:flex;
  width:100%;
  justify-content:space-around;
  margin:0;
}
.navHeaderTop ul li{ 
  display:block;
}
.navHeaderTop ul li a:hover{
 color:#8593AE;
}
.navHeaderTop ul li a{
  text-decoration:none;
  color:white;
  font-weight:700;
}
.searchProducts{
  width:70%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:flex-end;
}
.searchProducts select{
  margin:5px;
  background: #D4DAD8;
  border: 1.01363px solid #D4DAD8;
  box-sizing: border-box;
  border-radius: 5px;
  width:70%;
  height:2em;
}
.searchProducts label{
  margin:5px; 
  font-weight:700;
  color:white;
}
.searchProducts .iconSearch{
  margin:5px;
  color:black;
}
.searchInput {
  width:150px;
}
.boxAcces{
  position:relative;
  display:flex;
  align-items:flex-end;
  justify-content:space-around;
  width:15%;}  
.icon{ 
  color:  #331a00; 
  font-size:1.5em; 
  font-weight:600;
}
.icon:hover{
  color:#8593AE;
  cursor:pointer;
}
.navHeaderBottom{
  position:relative;
  display:flex;
  width:100%;
}
.navHeaderBottom ul{ width:100%;
  padding:1em 5%;
  display:flex;
  justify-content:space-around;
}
.navHeaderBottom ul li{
  background-color: #8593AE;
  list-style: none;
  padding:12px 10px;
  border-radius:5px;
} 
.navHeaderBottom ul li:hover{
  transform:scale(1.1);
} 
.navHeaderBottom ul li a{
  text-decoration:none;
  color:white; 
}
.main-footer{
  position:relative;
  display:flex;
  flex-direction:column;
  margin:0;
  padding:0;
  width:100%;
  background-color:#5A4E4D;
}
.footer-top{
  display:flex; width:100%;
  padding:1%;
  border-bottom:  1px solid black;
}
.footer-menu1{ 
  position:relative;
  display:flex;
  width: 80%;
}
.footer-menu1 ul{
  position:relative;
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
.footer-menu1 ul li{
  list-style:none; 
  color:white;
  cursor:pointer;
}
.footer-menu1 ul li a{ 
  text-decoration:none;
  color:white;
}
.giftcard{ 
  display:flex;
  align-items:center;
  text-align:center;
  color:white; width:20%; 
  cursor:pointer;
}
.footer-menu2{
  display:flex;
  justify-content:center;
  width:100%;
  color:white;
  padding:1%;

}
.giftcard{
  display:flex; 
  justify-content: center;
}
.footer-menu2 ul{ 
  display:flex;
  width:100%;
  justify-content: space-around; align-items:center;
}
.footer-menu2 ul li{
  list-style:none; color:white;
  cursor:pointer;
}
.footer-menu2 ul li a{
  text-decoration:none; color:white;
}
.footer-icon{
  font-size:1em;
  color:white; 
  margin: 0 5px;
}

.mobile-menu {font-size:2em;
color:white;}

@media (max-width:770px){
  .navHeaderTop {
    display:none;
  }
  .navHeaderBottom{
  display:none;
  }
  .boxAcces{
  flex-direction:column;
  align-items:flex-end; 
  width:30%;
  }
  .searchProducts{ 
    position:relative; 
    align-items:center;
    
  }
  .boxHeader1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    width: 30%;
  }
  .boxHeader1 img{
    width:30%; margin:5px;
  }
  .mobile-menu{
  display:block!important;
  padding:5px;
  }
  .searchProducts label{
    color:#5A4E4D;
  }
  .top-header{
    height: 25vh;
  }
  .footer-menu1{
   display:flex;
  justify-content:flex-start;
  align-items:center;
  }
  .footer-menu1 ul{ 
    display:flex; 
    flex-direction:column;
    align-items: flex-start;

  }
}
@media (max-width:468px){
  .searchProducts{
    width:100%;
  }
  .searchProducts select{
    width:100%;
  }
  .boxAcces{
    align-items:center;
  }
  .top-header{
    height:16vh;
  }
  .boxHeader1{
    width:40%;
  }
  .chat{
    display: none;
  }
}