
*{box-sizing:border-box;}
a{text-decoration: none;}

body{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.principal{ 
  width:100%;
margin:15vh 0;
padding:0;}
  .principalfotos {
    position:relative;
    display:flex;
    width:100%; 
    margin:0;
     padding:0;
  }
.imgSlider { position:relative; margin:0; padding:0; width:34%; height:40vh;
   background-size:cover; background-repeat:no-repeat; background-position:center;}
  .principal1 {background-image:url("../images/cocina1.jpeg");}
  .principal2 {background-image:url("../images/cristaleria1.jpg"); }
  .principal3 {background-image:url("../images/porcelana1.jpg"); }

  .mas-vendidos{ position:relative;
    width:100%; display:flex; 
    flex-direction:column;}
  .titular-masvendidos{position:relative;
  display:flex; 
  justify-content:center;
  align-items:center;
  }
  .titular-masvendidos h2{ color:#97b8c2; 
    font-size:2.2em;
  font-weight:700; 
margin: 2%;}
.titular-masvendidos a{text-decoration:none; color:black;}

.productos-masvendidos {
 width:100%;
 margin:0;
 padding:0;
 display:flex;
 justify-content: space-around; 
}
.detalle-masvendidos{width:35vh;
background-color: #7E675E;
color:#97B8C2;
display:flex;
flex-direction:column;
align-items: center;
justify-content: flex-start; }
.detalle-masvendidos :nth-child(2){margin:0; padding:0; font-weight:500;}
.detalle-masvendidos :nth-child(3) {margin:0; padding:0; font-weight:400;}
.detalle-masvendidos p{ color:white; font-weight:400; font-size:12px;
margin-top:0;}
.detalle-masvendidos:hover{ transform:scale(1.2); cursor:pointer;}
.producto-imagen {width:100%; height:24vh; 
  background-size:cover; 
  background-repeat: no-repeat;
  background-position:center;}
  #producto1{background-image:url("../images/fuentes.jpg");}
  #producto2{background-image:url("../images/porcelana2.jpg");}
  #producto3{ background-image:url("../images/olla1.jpg");}
  #producto4{ background-image:url("../images/olla1.jpg");}
 
 
  .banner{width:100%; height: 22vh; background-color: #DDA288; margin: 6% 0 2% 0;}
  .banner1{width:100%; height: 8vh; background-color: #DDA288; margin: 2% auto 2% auto;
  display:flex; justify-content: center; align-items: center;}
  .banner1 p{ font-size:1em; color:black; font-weight:700; 
  font-style:italic;}

  .videos { display:flex; justify-content: space-between; width:100%; margin: 5% 0;}
/*==================================================================*/
   /*Account Section*/

   .userAccount-section{
     display:flex;
     flex-direction:row;
     min-height:70vh;
   }
   .userAccount-section div{
     min-height:100%;
     display:flex;
     flex-direction:column; 
     
   
   }
  
   .verticalMenu{
     padding: 5% 2%;
     justify-content: flex-start;
     align-items: flex-start;
     width:20%;
     background-color: #97B8C2;
   }
   .dashboard{
     padding: 5% 2%;
     justify-content: flex-start;
     align-items: center;
     width:80%;
   }
   .productsEdit-title{
     color:#7E675E;
   }
   
   .dashboardTitle{
     text-align:center;
     color:#7E675E;
   }
   .userAccountTitle{
    color:#7E675E;
  }

   .productsOptions{
     width:100%;
     margin:0;
   }
   .UA-options{
    width:100%;
    margin:0;
  }

   .productsOptions li{
     position:relative;   
     width:100%;
     list-style: none;
     margin: 10% 0;
     cursor:pointer;
     color:#5A4E4D;

   }


   .UA-option{
    position:relative;   
    width:100%;
    list-style: none;
    margin: 10% 0;
    cursor:pointer;
    color:#5A4E4D;

  }

   .productsOptions li a{
     text-decoration: none;
     color:#5A4E4D;
   }

   .UA-option a{
    text-decoration: none;
    color:#5A4E4D;
  }


  
   .admin-title{
     color:#5A4E4D;
   }

   .UA-title{
    color:#5A4E4D;
  }

 

  @media (max-width:1100px) {
    .userAccount-section{
      flex-direction:column;
    }
    .videos {flex-direction:column!important;
    justify-content: center;
    align-items: center;}
    .videos iframe{ margin: 10% 0;} }
  
  @media (max-width:770px) {
    .video { flex-direction: column;
    justify-content: center;
    align-items: center; }
    .principal3{display:none;}
    .principal1{width:50%;}
    .principal2{width:50%;}
    .productos-masvendidos{ flex-direction:column;
    align-items:center;
  justify-content:center;}
  .detalle-masvendidos {width:90%; margin:5% 0;}
  .producto-imagen {height:60vh;}}