body {
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  /**/
    
  /**/
  
  main{
    padding: 10px;
    width: 60%;
    margin: auto;
    
    }
  
.nombre{
    color: #8593AE;
}

.titulos{
    display:flex;
    flex-direction: row;
    justify-content: space-between;  
    }

  .unitario {
    padding-left: 40%;
  }

  .unitario,
  .total{
    padding-top:50px;
   }
    

  .precioCart,
  .subprecio,
  .box7{
   font-size: 16px;
   font-weight: bolder;
  
  }
  
  .titulo1{
    border-color: #8593AE;
  }
  
  /*-----*/
  
  
  .containerCart{
    display: flex;
    justify-content: space-between
  }
  
  .containerCart .box1 img{
    width: 80px;
    padding-left: 30px;
    
  }
  
  .containerCart .box1,
  .numberCart,
  .precioCart{
    display: flex;
    position: relative;
    align-items: flex-start;
    }
  
   
  .box1 p,
  .numberCart p,
  .precioCart p{
    margin: 0;
    padding:0;
  }
  
  .numberCart{
  flex-wrap: wrap;
  width: 280px;
  margin-left: 50px;  
  font-size: 10px;
  }
  
  .nomProducto{
    margin-left:10px;
  }
  
  .numberCart input{
   width: 20px;
   margin-right: 10px;
   }
  
   
  .fas.fa-times{
    position: absolute;
    font-size: 15px;
    top: 30px;
  }
  
  /* Fin fila producto*/
  
  .subtotal{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
   .descuento{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
   }
  
   .desc{
      margin-left: 10px;
   
   }
  
   .box1{
    flex-grow: 1;
  }
  
  .unidad{
    flex-grow:0.5;
    display:flex;
    }
  
    .unidad p{
     margin-top:0;
     margin-right:40px;
      }
  
   .titulo1{
     margin-top:10px;
   }
  
  
  
   /* Fin fila subtotal y descuentos*/
  
   .envio{
    font-size: 10px ;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
  
   .costoenvio1{
     font-size: 12px;
   }
       
 
    
   /* fin costo envio*/
  
   .container2{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
   }
     
  
   /*fin fila Total a Pagar*/
  
   .container3{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-end ;
    }
  
    .box9{
      margin-left: 10px;
      }

     a {
      color: #00B7FF;
      text-decoration: none;
          }   

     .box8 a{
      color: black;
      font-size: 20px
        }
  
    .box9 a{
      color: black
    }

    button{
      height: 50px;
      width: 80px;
    }
  

      
   /*fin fila Abonar or seguir comprando*/



   @media (max-width:770px) 
   {
    main{ position:relative;
    top: 1vh;
    width:95%;}
     .numberCart{margin:10px; flex-direction: column;padding-left: 60%;}
     .containerCart{flex-direction:column;}
     .precioCart{ justify-content:flex-end;}
     .unitario, 
     .total,
     .unidad{
       display: none}
    }
     
     
    @media (max-width:468px) 
   {
    main{ position:relative;
    top: 1vh;
    width:95%;}
     .numberCart{margin:10px;flex-direction:column; padding-left: 30%;}
     .containerCart{flex-direction:column;}
     .precioCart{ justify-content:flex-end;}
     .unitario, 
     .total
     .unidad{
       display: none
     }

     .nombre{
       margin-bottom:5px;
       font-size:15px;
     }

     p{
       font-size: 11px;
     }

     h2{
       font-size: 13px;
     }

     button{
      height: 40px;
      width: 65px;
      font-size: 9px;}  
    }

    

  
  
  
